<div data-role="content" id="peoplelist">
	<ul data-role="listview" data-theme="g">
		<li>
			<a href="#" class="ui-link-inherit">
				<img src="/assets/thumb_eewei.jpg">
				<h3 class="ui-li-heading">Eewei Chen</h3>
				<p class="ui-li-desc">1 hr ago <strong>South Croydon</strong></p>
			</a>
		</li>
		<li>
			<a href="#" class="ui-link-inherit">
				<img src="/assets/thumb_jill.jpg">
				<h3 class="ui-li-heading">Jill Irving</h3>
				<p class="ui-li-desc">1 hr ago <strong>Docklands</strong></p>
			</a>
		</li>
	</ul>
</div>