<div data-role="content" id="peoplelist">
	<div class="people-selector-container">
		<div class="people-selector">
			<select>
				<option>today</option>
				<option>this week</option>
				<option>this month</option>
				<option>this year</option>
			</select>
		</div>
		<div class="people-selector">
			<select>
				<option>near me</option>
				<option>UK</option>
				<option>worldwide</option>
			</select>
		</div>
	</div>
	<ul data-role="listview" data-theme="g">
		<% @people.each do |person| %>
		<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-li-has-thumb ui-btn-down-c ui-btn-up-c">
			<a href="/people/<%=person.id%>" class="ui-link-inherit">
				<img src="/assets/<%=person.image_src%>">
				<h3 class="ui-li-heading"><%=person.name%></h3>
				<p class="ui-li-desc">1 hr ago <strong><%=person.location%></strong></p>
			</a>
		</li>
		<% end %>
	</ul>
</div>