<div data-role="content" id="peoplelist">
	<div class="people-selector-container">
		<div class="people-selector">
			<select>
				<option>today</option>
				<option>this week</option>
				<option>this month</option>
				<option>this year</option>
			</select>
		</div>
		<div class="people-selector">
			<select>
				<option>near me</option>
				<option>UK</option>
				<option>worldwide</option>
			</select>
		</div>
	</div>
	<ul data-role="listview" data-theme="g">
		<li>
			<a href="#" class="ui-link-inherit">
				<img src="/assets/thumb_eewei.jpg">
				<h3 class="ui-li-heading">Eewei Chen</h3>
				<p class="ui-li-desc">1 hr ago <strong>South Croydon</strong></p>
			</a>
		</li>
		<li>
			<a href="#" class="ui-link-inherit">
				<img src="/assets/thumb_jill.jpg">
				<h3 class="ui-li-heading">Jill Irving</h3>
				<p class="ui-li-desc">1 hr ago <strong>Docklands</strong></p>
			</a>
		</li>
	</ul>
</div>