<div data-role="content">
	<p>
  		<img src="/assets/<%= @person.image_src %>" />
	</p>
	<p>
  		<b>Name:</b>
  		<%= @person.name %>
	</p>
	<p>
  		<b>Location:</b>
  		<%= @person.location %>
	</p>
</div>