<div data-role="content">
	<div class="field">
		<label for="email">Email: <br />
			<input id="email" type="text" />
	</div>
	
	<div class="field">
		<label for="password">Password: <br />
		<input id="password" type="password" />
	</div>

	<div class="actions">
		<input type="button" value="Login"/>
	</div>

</div>