/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.nav-custom-icon .ui-btn .ui-btn-inner { 
	padding-top: 40px !important; 
}

.nav-custom-icon .ui-btn .ui-icon { 
	width: 30px!important; 
	height: 30px!important; 
	margin-left: -15px !important; 
	box-shadow: none!important; 
	-moz-box-shadow: none!important; 
	-webkit-box-shadow: none!important; 
	-webkit-border-radius: none !important; 
	border-radius: none !important; 
}

#ppl .ui-icon {
	background:  url(/assets/b_people.png) 50% 50% no-repeat; 
	background-size: 24px 22px; 
}

#mov .ui-icon { 
	background:  url(/assets/b_movies.png) 50% 50% no-repeat; 
	background-size: 24px 22px;
}
