/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.nav-custom-icon .ui-btn .ui-btn-inner { 
	padding-top: 40px !important; 
}

.nav-custom-icon .ui-btn .ui-icon { 
	width: 30px!important; 
	height: 30px!important; 
	margin-left: -15px !important; 
	box-shadow: none!important; 
	-moz-box-shadow: none!important; 
	-webkit-box-shadow: none!important; 
	-webkit-border-radius: none !important; 
	border-radius: none !important; 
}

#movielist .ui-li-thumb{
    min-height: 112px;
}

#peoplelist .ui-li-thumb{
    min-height: 78px;
}

#cinemalist .ui-li-thumb{
    min-height: 78px;
}

.nav-custom-icon .ui-btn .ui-btn-inner { padding-top: 40px !important; }
.nav-custom-icon .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: none !important; border-radius: none !important; }


#mov .ui-icon { background:  url(/assets/b_movies.png) 50% 50% no-repeat; background-size: 24px 22px; }
#cin .ui-icon { background:  url(/assets/b_cinema.png) 50% 50% no-repeat; background-size: 24px 22px; }
#ppl .ui-icon { background:  url(/assets/b_people.png) 50% 50% no-repeat; background-size: 24px 22px; }
#trv .ui-icon { background:  url(/assets/b_trivia.png) 50% 50% no-repeat; background-size: 24px 22px; }
#hme .ui-icon { background:  url(/assets/b_home.png) 50% 50% no-repeat; background-size: 24px 22px; }



@font-face {
	font-family: CooperBlackStd;
	src: url('CooperBlackStd.otf');
}

.ui-header h1.ui-title { 
	background: url(/assets/logo.png) no-repeat left;
	padding: 17px 0 17px 45px!important;
	margin: 0 auto;	
	width: 200px;
	font-family: CooperBlackStd;
	font-size: 20px!important;
}


.people-selector {
	width:  50%;
	float: left;
}

.people-selector-container {
	display: inline-block;
	clear: both;
	border: 1px olild #0f0;
	width: 100%;
	margin-bottom: 5px;
}