<!DOCTYPE html>
<html>
<head>
	<title>Groovy Moovy</title>
  	<%= stylesheet_link_tag "application" %>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.css" />
  	<%= javascript_include_tag "application" %>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>
	<div data-role="page">
		<%= yield %>
		
		<div data-role="footer" data-position="fixed" class="nav-custom-icon">
			<div data-role="navbar" class="nav-custom-icon">
				<ul>
					<li><a href="/" data-icon="custom" id="skull">Home</a></li>
					<li><a href="/movies" data-icon="custom" id="mov">Movies</a></li>
					<li><a href="#leaderboard" data-icon="custom" id="lbd">Cinemas</a></li>
					<li><a href="#people" data-icon="custom" id="ppl">People</a></li>
					<li><a href="#trivia" data-icon="custom" id="trv">Trivia</a></li>
				</ul>
			</div>
		</div>
	</div>

</body>
</html>
